@charset "UTF-8";

.material-symbols-outlined {
	vertical-align: middle;	
}

select, th, td, div, span, input, a{
	font-family: 'Pretendard-Regular';
}

html, body {
	font-size: 0px;
	height: 100%;
	font-family: 'Pretendard-Regular';
	margin: 0;
	color: #5a5a5a;
	/* transform: rotate(0.04deg); */
	min-width: 1200px;
	position: relative;
}
/* 헤더 1 */

#header1 {
	display: inline-block;
	width: 300px;
	height: 100%;
	text-align: center;
	position: absolute;
	background: #f2f3ef;
}

#logo {
	width: 50%;
	height: 10%;
	margin-top: 70px;
	display: inline-block;
	background-image: url('http://localhost:8090/Dulegil/resources/images/minlogo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#time {
	height: 3%;
}

#empty {
	height: 30px;
}

#h_1 {
	height: 5%;
}

.btnAll {
	/*height: 66%;*/
	border: none;
	cursor: pointer;
	font-size: 15px;
	text-align: left;
	font-family: "Gothic A1";
	font-weight: 700;
	background-color: #f2f3ef;
	color: #5a5a5a;
	padding: 10px 10px 10px 17px;
	position: relative;
}

.btnOne {
	/*height: 66%;*/
	border: none;
	cursor: pointer;
	font-size: 15px;
	text-align: left;
	font-family: "Gothic A1";
	font-weight: 700;
	background-color: #f2f3ef;
	color: #5a5a5a;
	padding: 10px 10px 10px 17px;
	position: relative;
}

.btnMembers {
	height: 40%;
	border: none;
	cursor: pointer;
	font-size: 15px;
	text-align: left;
	font-family: "Gothic A1";
	font-weight: 800;
	background-color: #f2f3ef;
	color: #a1a1a1;
	padding: 14px 4px 0px 10px;
}

/* 헤더 2 상단바 */
#header2 {
	height: 7%;
	background-color: #f2f3ef;
}

.hh2_icon {
	float: right;
    padding: 20px;
}

/* 콘텐츠 */
#hd2_content {
	background-color: white;
	position: relative;
	left: 330px;
    width: 1100px;
}

#hd2_Cname {
	padding: 25px;
    margin-top: 2%;
	font-size: 18pt;
    font-weight: 600;
	background-color: white;
}

#hd2_CC_left, #hd2_CC_right{
	display: inline-block;
	margin: 30px 40px;
	width: 500px;
}

#hd2_CC_right{
	margin-left: 0;
	margin-right: 0;
	vertical-align: top;
}

/* 달력 */
#calendar{
	width: 500px;
	font-size: 11pt;
	display: inline-block;
}

.fc-event-title {
	color: #5a5a5a;
}

/* 테이블 */
#CCbox {
	display: inline-block;
	text-align: center;
	margin-top: 15px;
}

#CCbox table {
	border-collapse: collapse;
}

#CCbox th{
	font-size: 12pt;
	padding-bottom: 10px;
	border-bottom: 1px solid #f4f5ee;
}

#CCbox td{
	font-size: 11pt;
	text-align: center;
}

/* 작성, 수정, 삭제 버튼 */
#write {
	text-align: center;
	height: 35px;
}

#evtDelBtn {
	background-color: #f0c41994;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
    font-family: "Gothic A1";
	float: right;
}

/*페이징*/
#paging{
	font-size: 11pt;
    margin: 30px;
    display: flex;
    justify-content: center;
}

#hd2_paging {
	display: inline-block;
	text-align: -webkit-center;
}

#pBtn {
	width: 40px;
    text-align: center;
}

#pBtn_GD {
	width: 15px;
	height: 15px;
	margin-right: 30px;
	margin-top: 1%;
	display: inline-block;
}

.pBtn {
	border: none;
	border-radius: 100px;
	font-size: 12px;
	background-color: white;
	display: inline-box;
	font-family: "Gothic A1";
	font-weight: 700;
	color: #5a5a5a;
	transform: rotate(0.04deg);
	cursor: pointer;
}
.pBtn_GD {
	border: none;
	border-radius: 100px;
	font-size: 12px;
	display: inline-box;
	font-family: "Gothic A1";
	font-weight: 700;
	color: #5a5a5a;
	transform: rotate(0.04deg);
	cursor: pointer;
}

.myButton {
	background-color: #ededed;
	border-radius: 4px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #5e5e5e;
	font-family: 'Gothic A1';
	font-size: 13px;
	padding: 7px 13px;
	FONT-WEIGHT: 600;
	text-decoration: none;
	margin-top: 4px;
}

.myButton:hover {
	background-color: #dfdfdf;
}

.myButton:active {
	position: relative;
	top: 1px;
}

#Cname_box {
	display: inline-block;
	width: 22%;
}

/* 검색창 */
#search {
	display:inline-block;
	width: 500px;
	height: 60px;
	margin: 0;
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
	background-color: white;
}

/* vertical-align 은 여기 버튼 css에서 설정해준다. div아님*/
.Sbar1, .Sbar11, .Sbar2, .Sbar3 {
	display: -webkit-inline-box;
}

.Sbar3 {
	height: 46%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	position: relative;
}

.Sbar2 {
	width: 300px;
	height: 46%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	border: 1px solid #ddd;
	position: relative;
}

.Sbar1 {
	width: 80px;
	height: 46%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	border: 1px solid #ddd;
	position: relative;
}

.commentBoxT {
	border: none;
	position: absolute;
	padding: 5px;
	width: 100%;
	height: 100%;
}

#hdSearch {
	margin-right: 1%;
	background-color: #f0c41994;
	border-radius: 4px;
	border: none;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 13px;
	padding: 7px 27px;
	text-decoration: none;
	font-weight: 700;
}

input:focus, .sel:focus {
	outline: none;
}

.sel {
	border: none;
    width: 100%;
    height: 100%;
}

/* 로그인 */
.login_banner {
	width: 200px;
	height: 50px;
	display: inline-block;
	margin-top: 30px;
	background-color: white;
	font-size: 20pt;
}

.login_box input{
	border: none;
	font-size: 12pt;
}
#bottom #login .login_box {
	width: 400px;
	height: 250px;
	margin: 50px 0px 0px 200px; /*아니 왜 중간으로 안오는거*/
	border: solid 1px #444;
	/*background-color: white;*/
	font-family: "Gothic A1";
	font-weight: 500;
}
#bottom #login .login_box .id_box {
	width: 350px;
	height: 50px;
	display: inline-block;
	margin-top: 25px;
	border: solid 1px #444;
	background-color: white;
	position: relative;
}

#bottom #login .login_box .pw_box {
	width: 350px;
	height: 50px;
	display: inline-block;
	margin-top: 10px;
	border: solid 1px #444;
	background-color: white;
	position: relative;
}

.pw_box, .id_box {
	font-size: 20px;
}

.icon {
	width: 200px;
	height: 200px;
	margin: 3% auto;
	font-size: 100%
}

#logoutBtn{
	cursor: pointer;
}
