@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900')
	;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-symbols-outlined {
	vertical-align: middle;
}



/* 헤더 1 */
html, body {
	font-size: 0px;
	width: 100%;
	height: 100%;
	position: relarive;
	margin: 0;
	font-family: "Gothic A1";
	font-weight: 600;
	color: #5a5a5a;
	transform: rotate(0.04deg);
}

#header1 {
	display: inline-block;
	width: 18%;
	height: 100%;
	text-align: center;
	position: absolute;
	background: #f2f3ef;
}

#logo {
	width: 50%;
	height: 10%;
	margin-top: 70px;
	display: inline-block;
	background-image:
		url('http://localhost:8090/Dulegil/resources/images/minlogo.png');

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#time {
	height: 3%;
}

#empty {
	height: 30px;
}

#header1 #h_1 {
	height: 5%;
}

#header1 .btnAll {
	/*height: 66%;*/
	border: none;
	cursor: pointer;
	font-size: 15px;
	text-align: left;
	font-family: "Gothic A1";
	font-weight: 700;
	background-color: #f2f3ef;
	color: #5a5a5a;
	padding: 10px 10px 10px 17px;
	position: relative;
}

#header1 .btnAll:hover {
	background-color: #ECECEC;
}

#header1 .btnOne {
	/*height: 66%;*/
	border: none;
	cursor: pointer;
	font-size: 15px;
	text-align: left;
	font-family: "Gothic A1";
	font-weight: 700;
	background-color: #f2f3ef;
	color: #5a5a5a;
	padding: 10px 10px 10px 17px;
	position: relative;
}

#header1 .btnOne:hover {
	background-color: #ECECEC;
}

/* 헤더 2 상단바 */
#header2 {
	float: right;
	width: 82%;
	height: 100%;
	background-color: white;
}

#header2 #hd2_header {
	width: 100%;
	height: 7%;
	background-color: #f2f3ef;
}

#header2 #hd2_header .hh2_icon {
	width: 10%;
	height: 7%;
	margin-left: 87%;
	background-color: #f5f5f1;
	padding-top: 7px;
	text-align: end;
}

#header2 #hd2_content {
	width: 100%;
	height: 80%;
	background-color: white;
}

#header2 #hd2_Cname {
	width: 100%;
	height: 5%;
	font-size: 20px;
	background-color: white;
}

#header2 #hd2_CC {
	width: 100%;
	height: 90%;
	background-color: rgb(255, 255, 255);
	text-align: center;
	/*text-align: center;쓰려면 자식 css에 인라인블록*/
}

#header2 #hd2_CC #CCbox {
	display: inline-block;
	width: 80%;
	height: 70%;
	text-align: center;
	font-size: 25px;
	text-align: center;
}

#bottom #login {
	width: 800px;
	height: 1000px;
	display: inline-block;
	background-color: white;
}

#bottom #login .login_banner {
	width: 200px;
	height: 50px;
	display: inline-block;
	margin-top: 80px;
	border: solid 1px #444;
	background-color: white;
}

#bottom #login .login_box {
	width: 400px;
	height: 250px;
	margin: 50px 0px 0px 200px; /*아니 왜 중간으로 안오는거*/
	border: solid 1px #444;
	/*background-color: white;*/
	font-family: "Gothic A1";
	font-weight: 500;
}

#bottom #login .login_box .id_box {
	width: 350px;
	height: 50px;
	display: inline-block;
	margin-top: 25px;
	border: solid 1px #444;
	background-color: white;
	position: relative;
}

#bottom #login .login_box .pw_box {
	width: 350px;
	height: 50px;
	display: inline-block;
	margin-top: 10px;
	border: solid 1px #444;
	background-color: white;
	position: relative;
}

.pw_box, .id_box {
	font-size: 20px;
}

.icon {
	width: 200px;
	height: 200px;
	margin: 3% auto;
	font-size: 100%
}

.btnMembers {
	height: 40%;
	border: none;
	cursor: pointer;
	font-size: 15px;
	text-align: left;
	font-family: "Gothic A1";
	font-weight: 800;
	background-color: #f2f3ef;
	color: #a1a1a1;
	padding: 14px 4px 0px 10px;
}

.ic {
	margin-top: 10px;
	display: inline-block;
}

.icand {
	margin: 15px 0 0 5px;
	display: inline-block;
	width: 130px;
	height: 20px;
	position: fixed;
}

input:focus {
	outline: none;
}

/* 작성, 수정, 삭제 버튼 */
#write {
	width: 96%;
	text-align: right;
}

.delBtn {
	background-color: #ededed;
	border-radius: 4px;
	border: 1px solid #f4f5ee;
	display: inline-block;
	cursor: pointer;
	color: #5e5e5e;
	font-weight: 600;
	font-size: 13px;
	padding: 7px 13px;
	text-decoration: none;
	margin-top: 4px;
	font-family: "Gothic A1";
}

.delBtn:hover {
	background-color: #ECECEC;
}

/*페이징*/
#header2 #hd2_CC #hd2_paging {
	display: inline-block;
	margin-top: 13px;
	text-align: -webkit-center;
	width: 46%;
	height: 6%;
}

#header2 #hd2_CC #hd2_paging #pBtn {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 11px;
}

#header2 #hd2_CC #hd2_paging #pBtn_GD {
	width: 15px;
	height: 15px;
	margin-right: 30px;
	margin-top: 1%;
	display: inline-block;
}

.pBtn {
	border: none;
	border-radius: 100px;
	font-size: 12px;
	background-color: white;
	display: inline-box;
	font-family: "Gothic A1";
	font-weight: 700;
	color: #5a5a5a;
	transform: rotate(0.04deg);
	cursor: pointer;
}

.pBtn:hover {
	border: none;
	border-radius: 100px;
	font-size: 12px;
	background-color: white;
	display: inline-box;
	font-family: "Gothic A1";
	font-weight: 700;
	color: #5a5a5a;
	transform: rotate(0.04deg);
	cursor: pointer;
	border-radius: 100px;
}

.myButton {
	background-color: #ededed;
	border-radius: 4px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #5e5e5e;
	font-family: 'Gothic A1';
	font-size: 13px;
	padding: 7px 13px;
	FONT-WEIGHT: 600;
	text-decoration: none;
	margin-top: 4px;
}

.myButton:hover {
	background-color: #dfdfdf;
}

.myButton:active {
	position: relative;
	top: 1px;
}

table {
	border-collapse: collapse;
	margin-bottom: 70px;
}