/* Contents*/
/*list*/
.mainWrap{
	margin: 50px 0;

}

.tit{
	
	margin:80px auto 10px;
	text-align:left;
	margin-top:10px;
	font-size: 20pt;
	font-weight: 600;
	margin-bottom: 10px;
}

.col{
    position: relative;
    text-align: center;
    border-top: 2px solid #ddd;
}
.midBox {
 text-align:center;
}
.searchWrap {
    width: 100%;
    height: auto;
    text-align: right;
}
.sel {
	margin-left: -10px;
	border: none;
	width: 94px;
	height: 100%;

}
.selBox{	
    width: 8%;
    display: inline-block;
    vertical-align: top;
    height: 32px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-bottom: 33.1px;
    margin-top: 20px;
}


.sel:focus{
	outline: none;
}

.searchBox {
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;;
	width: 33%;
	height: 32px;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #ddd;
	color: #333;
	font-weight: normal;
}

.serchTxt {
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
	width: 87%;
	height: 29px;
	float: left;
	border: none;
	text-align: left;
	margin-left: 10px;
}

.serchTxt:focus,.dateCon:focus {
	outline: none;
}

.search_ico {
	border: none;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 5px
}
.content {
    display: inline-block;
    font-size: 14px;
    margin: 12px auto 0px;
    text-align: center;
    width: 100%;
}
.btn {
	height: 35px;
	width: 60px;
	color: black;
	display: inline-block;
	padding: 7px 16px;
	float: left;
	margin-top: 20px;
}
.btn {
    background-color: #f0c41994;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 10pt;
    padding: 7px 16px;
    font-weight: 600;
}

.btn:hover{
	background-color:#b9992194;
}
.btn:acrive{
	background-color:#856c0d94;;
	box-shadow: 0 0 #87a86f;
}
.cosSelBox{
	padding:20px;
}


/*페이지*/

.pagination {

     display: flex;
    justify-content: center;
    margin-top: 30px;

}
.pagination span {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    border: 0px solid #ddd;
    margin: 0 4px;
    cursor: pointer;
}
.page_btn_on{
	 background-color: #bbd1bc;
 
    border-radius:50%;
}


.pagination span:active {
    background-color: #9c9f9d;
    border: 1px solid #9c9f9d;
}

.pagination span:hover {
    background-color: #bbd1bc;
     border-radius:50%;
}


/*Detail*/

.tit_tt , .tit_ttt{
	margin: 0 auto;
	height: 50px;
	text-align:center;
	font-size:26px;
	font-weight: bold;		
}


.tit_cos, .tit_writer, .tit_date{
	display: inline-block;
	vertical-align: top;
	font-size:15px;
	color:grey;
	line-height:50px;
	margin:0px 5px 0px 5px;
}
.tit_cos{
	font-size:20px;
	color:black;	
}
.box{
	height: 100px;
	margin: 0 auto;		
}
.box2{
	width: 90%;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
}
.emptyBox {
  
    width: 90%;
    height: 50px;
    margin: 0 auto;
    text-align: left;
    

}
.tit_writer img{
	width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 15px;
}
.te{
	width:1000px;
	padding:20px;
	font-size:14px;
	text-align:left;
	margin:0 auto;
}
.contentBox{
	height: auto;
	margin: 0 auto;	
}

.imgg{
	width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.imgg img{
	width:740px;
	margin-top:30px;
}
.commentBox {
	display: inline-block;
	vertical-align: top;
	width:90%;
	height: 50px;
	border: 1px solid #ddd;
	text-align:left;
	
}

.commentBoxT {
	border: none;
	width: 98%;
	height: 47px;
	resize:none;
	white-space:pre-wrap;
	
}
.commentBoxT:focus{
	outline: none;
}


.regBtn {
    font-size: 11px;
    width: 10%;
    height: 50px;
    border: 1px solid #ddd;
    cursor: pointer;
    margin: 10px auto;
    background: white;
}
.goodBtn,.goodCancelBtn {
    vertical-align: top;
    font-size: 11px;
    width: 60px;
    height:60px;
    border: 1px solid #f5f3f3;
    cursor: pointer;
    border-radius: 50px;
    margin: 3px;
    padding: 9px;
    background-color: #f5f3f3;
    margin: 0 auto;
    text-align:center;    
}

.goodCnt,.goodDCnt{
	font-size: 12px;
}

	

.update{
	display:hidden;
	font-size: 11px;
    width: 10%;
    height: 50px;
    cursor: pointer;
    background: white;
    margin-top:10px;
}

.updateCBtn{
    font-size: 11px;
    width: 100%;
    height: 25px;
    display: inline-block;
    background: white;
    border: 1px solid #ddd;
    line-height: 24.5px;
	 
	
}
.cancelCBtn{
	 font-size: 11px;
    width: 100%;
    height: 25px;
    display: inline-block;
    background: white;
    border: 1px solid #ddd;
    line-height: 24.5px;
}



.commentBox {
	margin-top: 10px;
}

.box3 {
	padding-bottom: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.comment {
	color: grey;
	font-size: 15px;
	padding: 10px;
}

.mainview4 {
	width: 80%;
	margin: 10px auto;
}

.iconBox {
	line-height: 70px;
	float: right;
	cursor: pointer;
}

.idBox {
	width: 100%;
	height: 30px;
	margin: 10px auto;
	font-size: 16px;
	text-align: left;
}

.pimg {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.fox {
	width: 12px;
	height: 12px;
}

.commentDe {
	width: 100%;
	height: auto;
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;
	white-space: pre-wrap;
}

.date {
    text-align: left;
    width: 100%;
    font-size: 10px;
    color: grey;
    margin-top: 16PX;
}
.upB{
	font-size:10px;
	color: grey;
	cursor:pointer;
	margin: 0px 10px;
}
.delB{
	font-size:10px;
	color: grey;
	cursor:pointer;

}
.moreBtn {
	font-size: 11px;
	padding: 8px 30px 8px 30px;
	border: none;
	cursor: pointer;
	background: #D7DBC2;
	margin: 30px auto;
	border-radius: 3px;
}
.more{
	width: 100%;
    text-align: center;
}
.coll{
	width:80%;
	margin:0 auto;
    border-top: 2px solid #ddd;
}
#updateBtn  {	
	margin-top:4px;
	margin-left:10px;
	float:right;
}


#deleteBtn{
	margin-top:4px;
	float:right;
}
#cancelBtn{
	margin-top: 4px;
    margin-left: 10px
}
#insertBtn{
	margin-top: 4px;
    margin-left: 10px;
}
#wlistBtn{
	margin-top: 4px;
    margin-left: 10px;
}

#listBtn{
	float: right;
	margin-left:50px;
	margin-top:4px;
}
#NlistBtn{
	float: right;
	margin-top:4px;
}

#clistBtn{
	margin-left: 422px;
    margin-top: 3px;
}

.reporBtn{
  	display: inline-block;
	vertical-align: top;
	font-size: 11px;
	width: 88px;
	border: 1px solid #ddd;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 0 #87a86f;
	padding: 9px;
	float: left;
}
.report img, .like img {
	transition: all ease 0.25s;
	
}

.report img:hover,.like img:hover{
	transform: rotate(45deg);
}


.reporTit{
	font-size:12px;
}

/*write*/

.titWrap,.cosWrap,.datWrap,.MyWrap{
	height: 37px;
	margin: 15px auto;
}
.fileDelBtn{	
    font-size: 12px;
    vertical-align: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid gray;
    color: gray;
    background: #ededed;
    margin-left: 15px;

}
.fileInserBtn{
	    font-size: 12px;
    vertical-align: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid gray;
    color: gray;
    background: #ededed;
    margin-left: 15px;
	
}
.dateBox{
vertical-align: top;
    width: 800px;
    display: inline-block;
    height: 32px;
    border: 1px solid #ddd
}
.dateCon{
	border:none;
	width: 20%;
	height: 30px;	
	display: inline-block;
    float: left;
    margin-left: 10px;
   
}
.dateTit:focus{
	outline:none;
}


.conWrap{
	height: 530px;
	margin: 30px auto;	
}

.titNm, .cosNm, .conNm, .filNm,.datNm,.MyNm{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	font-size: 20px;
	margin-top: 3px;
	margin-right: 15px;
	text-align:left;
}

.titBox{
	vertical-align: top;
	width: 800px;
    display: inline-block;
    height: 32px;
    border: 1px solid #ddd;
}
.titCon {
	border:none;
	width: 80%;
	height: 30px;	
	display: inline-block;
    vertical-align: top;
    float: left;
    text-align: left;
    margin-left: 10px;   
    outline: none; 	
}


titCon:focus,.cosSell:focus {
	outline: none;
}
.selected {
	width: 600px;
	height: 30px;
	font-size: 30px;
}

.contentBox {
	display: inline-block;
    width: 800px;
    margin: 10px auto 40px;;
}


#con{
	border:none;
}
.MyBox{
	vertical-align: top;
	width: 800px;
    display: inline-block;
    height: 50px;
    text-align:left;
    margin-top: -10px;
}

.genBox, .ageBox{
	display:inline-block;
	width:600px;	
	
}
.genBox span{
	font-size:14px;
	margin:5px 10px;
}

.ageBox span{
	font-size:14px;
	margin:5px 10px;
}
.gong{
	display: inline-block;
	font-size:14px;
	color:gray;
}

.con_t {
	margin-top: 10px;
}
.filWrap{
	height: 70px;
	    margin: 30px auto 0px;

}

.las_t {
	font-size: 20px;
}

.filBox {
    display: inline-block;
    width: 800px;
    text-align: left;
}

.file:hover {
	cursor: pointer;
}

.fileT {
	font-size: 12px;
	margin-top: 5px;
	width:170px;
}

.cosSell{
	border:none;
 	width: 790px;
    height:30px;
    font-size:18px;
    text-align:center;
}

.cosBox{
    width: 800px;
    display: inline-block;
    border: 1px solid #ddd;

}

.btnWrap{
    text-align: right;
    width: 80%;
    margin: 0 auto;
}
.btnBox{
   display: inline-block;
   vertical-align: top;
   margin:0 10px;
}

.emptyBox span{
	font-size:12px;
	
}
.singo_label label {
	display: block;
    padding: 3px 0;
}
/*첨부파일*/

span.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}
.aL{
   color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    font-size: 11px;
    vertical-align: -webkit-baseline-middle;
    font-size: 13px;
    margin-left: -4px;
}
