@charset "UTF-8";

body{
	font-family: 'Pretendard-Regular';
	margin: 0;
}

table{
	width: 100%;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 2%;
}

th, td{
	font-size: 11pt;
	text-align: center;
	border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px;	
}

th:first-child, td:first-child, .container-main dt:first-child, .container-main dd:first-child{
    border-left: none;
  }
  
th, .container-main dt{
	background-color: #bbd1bc;
}

.crsBtn{
	margin-top: 50px;
	height: 50px;
	text-align: center;
}

.crsBtn span{
	width: 150px;
	height: 50px;
	display: inline-block;
	border: 1px solid #ddd;
    vertical-align: top;
    font-size: 13pt;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-weight: 500;
}

.crsBtn span.on{
	font-size: 14pt;
	background: #f0c41994;
}

.crsTit{
	text-align: center;
	margin-top: 60px;
}

.crsTit > span{
	display: inline-block;
	vertical-align: top;
	font-size: 20pt;
    font-weight: 600;
    margin-bottom: 5px;
}

.crsTit> .crsDfc {
	font-size: 11pt;
	margin-bottom: 3%;
}

.crsCon {
	margin-top: 3%;
}

.crsCon > img, .crsMapDtl> img {
	display: inline-block;
	width: 25px;
}

.crsCon > span, .crsMapDtl >span{
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	margin-bottom: 2%; 
}

.crsMap{
	display: inline-block;
	vertical-align: top;
	width: 800px;
	height: 600px; 
	margin: 0 30px 0 40px;
	border: 1px solid #999;
}

.crsMapDtl{
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

.crsDtl > dl > dt, .crsDtl > dl > dd{
	margin-left: 11px;
	font-size: 11pt;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.crsDtl > dl > dt{
	margin-top: 10px;
}

.crsDtl{
	margin-bottom: 5%;
}

#crsInfo{
	margin-bottom: 2%; 
}

.crsDtl > span{
	font-size: 11pt;
	display: inline-block;
	width: 100%;
	padding: 11px;
}

.crsDtl> .crsStm{
	width: 100%;
}

.crsDtl > .crsStm > .stm{
	display: inline-block;
	vertical-align: top;
	width: 375px;
	margin-left: 20px;
}

.crsDtl > .crsStm > .stm > img{
	width: 100%;
}

.crsDtl > .crsStm > .stm> p{
	font-size: 11pt;
	text-align: center; 
}

.infoBtn{
	list-style: none;
	margin-bottom: 30px;
}

.infoBtn li{
  	display: inline-block;
  	width: 200px;
	padding: 10px;
	margin-right:10px;
	font-size: 13pt;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ddd;
}

ul.infoBtn li.on{
	background: #f0c41994;
}

.infoDtl{
	display: inline-block;
	vertical-align: top;
	width: 275px;
	margin: 0 12px 30px 10px;
}

.infoDtl > img{
	width: 100%;
}

.infoArd {
	display: none;
}

.infoArd.on{
	display: inherit;
}

#infoArdTit{
	font-size: 11pt;
	font-weight: 600;
	margin: 1% 0;
}

.infoDtl > p{
	margin: 0;
	font-size: 10pt;
}