@charset "UTF-8";

body{
	font-family: 'Pretendard-Regular';
	margin: 0;
}

table{
	width: 100%;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 2%;
}

th, td{
	font-size: 11pt;
	text-align: center;
	border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px;	
}

th:first-child, td:first-child {
    border-left: none;
  }
  
th, dt{
	background-color: #eff3f6;
}

.wrapCBtn{
	margin-top: 50px;
	height: 50px;
	text-align: center;
}

.wrapCBtn span{
	width: 150px;
	height: 50px;
	display: inline-block;
	border: 1px solid #ddd;
    vertical-align: top;
    font-size: 13pt;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.wrapCBtn span.on{
	font-size: 14pt;
	background: #77bdeb;
	font-weight: 500;
	color:white;
}

.courseTitle{
	text-align: center;
	margin-top: 60px;
}

.courseTitle > span{
	display: inline-block;
	vertical-align: top;
	font-size: 20pt;
    font-weight: 600;
    margin-bottom: 5px;
}

.courseTitle> .courseLevel {
	font-size: 11pt;
	margin-bottom: 3%;
}

.courseCon {
	margin-top: 5%;
}

.courseCon > img, .courseCon_mapDetail> img {
	display: inline-block;
	width: 25px;
}

.courseCon > span, .courseCon_mapDetail >span{
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	margin-bottom: 2%; 
}

.courseCon_map{
	display: inline-block;
	vertical-align: top;
	width: 800px;
	height: 600px; 
	margin: 0 30px 0 40px;
	border: 1px solid #999;
}

.courseCon_mapDetail{
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

.courseCon_1 > dl > dt, .courseCon_1 > dl > dd{
	margin-left: 11px;
	font-size: 11pt;
	border: 1px solid #999;
	text-align: center;
	padding: 10px;
}

.courseCon_1 > dl > dt{
	margin-top: 10px;
}

.courseCon_1{
	margin-bottom: 5%;
}

#cDetail{
	margin-bottom: 2%; 
}


.courseCon_1 > span{
	font-size: 11pt;
	display: inline-block;
	width: 100%;
	padding: 11px;
}

.courseCon_1> .wrapStp{
	width: 100%;
}

.courseCon_1 > .wrapStp > .stp{
	display: inline-block;
	vertical-align: top;
	width: 375px;
	margin-left: 20px;
}

.courseCon_1 > .wrapStp > .stp > img{
	width: 100%;
}

.courseCon_1 > .wrapStp > .stp> p{
	font-size: 11pt;
	text-align: center; 
}

.tabTitle{
	list-style: none;
	margin-bottom: 30px;
}

.tabTitle li{
  	display: inline-block;
  	width: 200px;
	padding: 10px;
	margin-right:10px;
  	border: 1px solid #ddd;
	border-radius: 20px; 
	font-size: 13pt;
	text-align: center;
	cursor: pointer;
}

ul.tabTitle li.active{
	background: #77bdeb;
	color:white;
}

.tabC{
	display: inline-block;
	vertical-align: top;
	width: 275px;
	margin: 0 12px 30px 10px;
}

.tabC > img{
	width: 100%;
}

.tabContent {
	display: none;
}

.tabContent.active{
	display: inherit;
}

#conTitle{
	font-size: 11pt;
	font-weight: 600;
	margin: 1% 0;
}

.tabC > p{
	margin: 0;
	font-size: 10pt;
}