@charset "UTF-8";

.evt{
	margin-top: 20px;
	text-align: center;
}

.evt th, .evt td{
	font-size: 11pt;
}

.mainWrap p{
	display: inline-block; 
	font-size: 12pt;
    text-align: left;
    padding-left: 10px;
}

.evtCal{
	text-align: center;
}
#calendar{
	width: 100%;
	margin: 20px 0;
	font-size: 12pt;
	display: inline-block;
	padding: 10px;
}

.evtTit {
    letter-spacing: -1px;
    border: 1px solid #444;
}

#evtMainTit{
    padding: 8px;
    font-size: 19px;
    text-align: left;
    border-bottom: 1px dashed #ddd;
}

#dh{
	text-align: right;
}

#dh td{
	padding-top: 5px;
}

.evtCon td{
    line-height: 24px;
    word-spacing: -0.04em;
    padding: 40px 7px;
    text-align:left;
}

.btn{
	display: flex;
    justify-content: space-around;
}

#listBtn{
	font-family: 'Pretendard-Regular';
	width: 75px;
    height: 45px;
    font-size: 11pt;
    font-weight: 600;
    letter-spacing: 2px;	
    cursor: pointer;
    margin: 40px 0;
    background-color: #f0c41994;
    border: none;
    border-radius: 5px;
}