@charset "UTF-8";

.faq{
	overflow: hidden;
	margin-bottom: 10%;
	width: 100%;
}

.faqMainTit{
	font-size: 80px;
    position: relative;
    color: #333;
    text-align: center;
	font-family: 'EliceDigitalBaeum';
	margin: 60px 0;
	font-weight: 800;
}

.faqSubTit{
	font-size: 26px;
	font-family: 'EliceDigitalBaeum';
	font-weight: 600;
	color: #666;
}

.col{
    position: relative;
    text-align: center;
    border-top: 2px solid #666;
}

.faqQst{
	padding: 0;
}

.qstTit, .qstCon {
    width: 10%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    line-height: 60px;
    color: #000;
    display: inline-block;
    text-align: center;
    float: left;
}

.qstCon {
    width: 90%;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
}

.faqAns{
	padding: 0;
	display:none;
}

.faqDtl{
	width: 100%;
    height: auto;
    background: #bbd1bc;
    text-align: justify;
    display: block;
    float: left;
    overflow:hidden;
    word-break: break-all;
    border-bottom: 1px solid #ddd;
}

#ansTit, .ansCon{
	width: 10%;
    height: auto;
    font-size: 23px;
    color: #333;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    float: left;
    padding: 20px 0;
} 

.ansCon {
	width: 90%;
    font-size: 15px;
    line-height: 27px;
    text-align: left;
}