@charset "UTF-8";

body, input, select{
	font-family: 'Pretendard-Regular';
}

input:focus, select:focus {
	outline: none;
}

.container-main{
	align-items: center;
    justify-content: space-around;
}

.inpCon {
	width: 500px;
	border: 1px solid #ddd;
	backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
	-webkit-border-radius: 6px;
	color: rgba(255, 255, 255, 0.75);
}

.lgn span {
	font-size: 23px;
	display: block;
	text-align: center;
	margin: 30px 0;
}

.view span, .find span {
	width: 430px;
	font-size: 23px;
	display: block;
	text-align: center;
	margin: 30px auto;
}

.view {
	margin-bottom: 30px;
}

#findMsg, #viewMsgId, #viewMsgPwd{
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
	text-align: left;
}

#viewMsgId{
	text-align: center;
}

#viewId{
	display: inline-block;
	font-size: 13pt;
	font-weight: 600;
	margin-bottom: 30px;
}

.lgnInfo, .findInfo, .updInfo{
	display: block;
	width: 430px;
    margin: 0 auto;
}

.lgnInfo input, .findInfo input, .updInfo input, #emailSel{
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
    line-height: 2;
    font-size: 14px;
    color: #444;
}

#findId {
	width: 161px;
	margin-right: 2px;
}

#at{
	display: inline-block;
	margin: 0 2px;
	font-size: 16px;
    color: #444;
}

#emailSel, #emailId {
	height: 49px;
	width: 120px;
	margin-left: 4px;
}

#memLgnBtn, #cnfmBtn{
	display: block;
    width: 430px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;	
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
	-webkit-border-radius: 4px;
}

#lgnBtn, #findPwdBtn{
	display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;	
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: white;
    margin: 0;
    border-radius: 3px;
}

#lgnBtn{
	margin-right: 5px;
	margin-left: 48px;
}

.btn {
	width: 430px;
    height: 15px;
    margin: 15px auto 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.btn p{
	float: left;
	margin: 0;
	padding-left: 4px;
}

.btn a{
	float: right;
	margin-left: 22px;
    line-height: 1;
    border: 0;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.btn a+a::before{
    content: '';
    position: absolute;
    top: 1px;
    left: 52px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #ddd;
}

.btn li{
	margin: 0 15px;
    position: relative;
    display: inline-block;
    left: 13px;
}

.btn li+li::before{
    content: '';
    position: absolute;
    top: 2px;
    left: -8px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #ddd;
}
