@charset "UTF-8";

body, input, select{
	font-family: 'Pretendard-Regular';
}

input:focus, select:focus {
	outline: none;
}

.inpCon {
	width: 500px;
	border: 1px solid #ddd;
	margin: auto;
	background-color: white;
}

.lgn span {
	font-size: 23px;
	display: block;
	text-align: center;
	margin: 30px 0;
}

.view span, .find span {
	width: 430px;
	font-size: 23px;
	display: block;
	text-align: center;
	margin: 30px auto;
}

.view {
	margin-bottom: 30px;
}

#findMsg, #viewMsgId, #viewMsgPwd{
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
	text-align: left;
}

#viewMsgId{
	text-align: center;
}

#viewId{
	display: inline-block;
	font-size: 13pt;
	font-weight: 600;
	margin-bottom: 30px;
}

.lgnInfo, .findInfo, .updInfo{
	display: block;
	width: 430px;
    margin: 0 auto;
}

.lgnInfo input, .findInfo input, .updInfo input, #emailSel{
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
    line-height: 2;
    font-size: 14px;
    color: #444;
}

#findId {
	width: 70%;
}

#emailSel {
	height: 49px;
	width: 30%;
}

#joinBtn{
	display: block;
    width: 430px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;	
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: white;
}

.viewbtn{
	width: 405px;
	margin: 0 auto
}

#loginBtn, #findPwdBtn{
	display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;	
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: white;
    margin: 0;
}

#loginBtn{
	margin-right: 5px;
}

#loginBtn:hover, #findPwdBtn:hover, #cnfmBtn:hover{
	background-color: #eff3f6;
}

.btn {
	width: 430px;
    height: 15px;
    margin: 15px auto 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.btn p{
	float: left;
	margin: 0;
	padding-left: 4px;
}

.btn a{
	float: right;
	margin-left: 22px;
    line-height: 1;
    border: 0;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.btn a+a::before{
    content: '';
    position: absolute;
    top: 1px;
    left: 52px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #ddd;
}

.btn li{
	margin: 0 15px;
    position: relative;
    display: inline-block;
    left: 13px;
}

.btn li+li::before{
    content: '';
    position: absolute;
    top: 2px;
    left: -8px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #ddd;
}
