@charset "UTF-8";

body{
	font-family: 'Pretendard-Regular';
	margin: 0;
}

table{
	width: 100%;
    border-collapse: collapse;
}

th{
	font-size: 11pt;
	text-align: center;
}

th, td{
	color: #555;
}

input:focus, select:focus {
	outline: none;
}

.container-main {
	align-items: center;
}

#actionForm{
	padding: 10px;
	backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
	-webkit-border-radius: 6px;
	color: rgba(255, 255, 255, 0.75);
}

.mainWrap{
	width: 70%;
}

.mainWrap ul{
	margin-top:20px;
}

.mainWrap h1{
	font-size: 20pt;
	font-weight: 600;
    position: relative;
    color: #333;
    text-align: center;
	margin-top: 5%;
	margin-bottom: 10%;
}

.mainWrap p{
	margin: 6% 7% 2%;
	font-size: 13pt;
	font-weight: 600;
}

.bscInfo, .addInfo{
	width: 700px;
	margin: 0 auto;
}

.bscInfo input, #emailSel{
	font-family: 'Pretendard-Regular';
	display:inline-block;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #ddd;
    line-height: 2;
    font-size: 14px;
    color: #444;
    width: 82%;
    margin-bottom: 5px;
}

#id {
	width: 195px;
	margin-right: 0;
}

#at{
	display: inline-block;
	margin: 0 2px;
	font-size: 16px;
    color: #444;
}

#emailSel, #emailId {
	width: 115px;
	height: 49px;
	margin-left: 0;
}

#cnfmBtn{
	width: 80px;
	letter-spacing: 2px;
	cursor: pointer;
	border-bottom: none;
	font-weight: 600;
	background-color: #f0c41994; 
	margin-left: 2px;
	border-radius: 3px;
}

.addInfo input{
	font-family: 'Pretendard-Regular';
	display:inline-block;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #ddd;
    line-height: 2;
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
}

#dtBrt {
	width: 230px;
}

.gender{
	height: 58px;
}

.gender input{
	width: 3%;
	height: 16px;
}

.gender label{
	font-size: 11pt;
	color: #666;
	margin-left: 2px;
	margin-right: 12px;
}

#zcd {
	width: 120px;
}

#adrBtn{
	width: 80px;
	letter-spacing: 2px;
	cursor: pointer;
	margin-right: 15px;
	border-bottom: none;
	font-weight: 600;
	background-color: #f0c41994; 
	border-radius: 3px;
}

#adr{
	width: 245px;
    margin-left: -10px;
}

#adrDtl{
	width: 460px;
}

.btn{
	display: flex;
    justify-content: space-around;
    margin: 7% 0;
}

#joinBtn{
	font-family: 'Pretendard-Regular';
	width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;	
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
	-webkit-border-radius: 4px;
}