@charset "UTF-8";

body{
	font-family: 'Pretendard-Regular';
	margin: 0;
}

table{
	width: 100%;
    border-collapse: collapse;
}

th{
	font-size: 11pt;
	text-align: center;
}

th, td{
	color: #555;
}

.bscInfo tr td{
	width: 73%;
}

input:focus, select:focus {
	outline: none;
}
#actionForm{
	border: 1px solid #ddd;
}

.mainWrap{
	width: 60%;
	margin: 5% auto;
}

.mainWrap ul{
	margin-top:20px;
}

.mainWrap h1{
	font-size: 23pt;
	font-weight: 600;
    position: relative;
    color: #333;
    text-align: center;
	margin-top: 7%;
	margin-bottom: 10%;
}

.mainWrap p{
	margin: 6% 7% 2%;
	font-size: 15pt;
	font-weight: 600;
}

.bscInfo, .addInfo, .btn{
	width: 700px;
	margin: 0 auto;
}

.bscInfo input, #emailSel{
	font-family: 'Pretendard-Regular';
	display:inline-block;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #ddd;
    line-height: 2;
    font-size: 14px;
    color: #444;
    width: 70%;
    margin-bottom: 5px;
}

#cnfmBtn{
	width: 17%;
	letter-spacing: 2px;
	cursor: pointer;
	margin-left: 15px;
	border-bottom: none;
	font-weight: 600;
	background-color: #f0c41994; 
}

#email {
	width: 40%;
	margin-right: 0;
}

#emailSel {
	width: 30%;
	height: 49px;
	margin-left: 0;
}

.addInfo input{
	font-family: 'Pretendard-Regular';
	display:inline-block;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #ddd;
    line-height: 2;
    font-size: 14px;
    color: #444;
    width: 80%;
    margin-bottom: 5px;
}

.addInfo th{
	width: 150px;
}

#dtBrt {
	width: 200px;
}

.gen{
	width: 200px;
}

#gen{
	width: 18%;
}

.addInfo label{
	font-size: 10pt;
	margin: 0;
	text-align: center;
}

#zcd {
	width: 90px;
}

#adr{
	width: 50%;
}

#adrBtn{
	width: 90px;
	letter-spacing: 2px;
	cursor: pointer;
	margin-right: 15px;
	border-bottom: none;
	font-weight: 600;
	background-color: #f0c41994; 
}

#adrDtl{
	width: 86%;
}

.btn{
	display: flex;
    justify-content: space-around;
    margin: 7% 0;
}

#joinBtn{
	font-family: 'Pretendard-Regular';
	width: 300px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;	
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: white;
}