@charset "UTF-8";

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Container */
.container {
	 min-height: calc(100% - 315px);
}

/* Contents*/
.contents{
	width: 80%;
	font-family: 'Pretendard-Regular';
}

/* Sidebar */
.sidebar {
	position: absolute;
}
.sidebar ul li {
	border: 1px solid #000000;
	font-size: 20pt;
	padding: 10px;
	text-align: center;
}
.mypage_title{
	font-size: 20pt;
}
.mypageBtn{
	margin-top: 1%;
	margin-bottom: 20px;
 }
 .btnsBox li {
	display: inline-block;
	margin-left: -1px;
 }
 .btnbox {
	color: #000000;
	background-color: #fff;
	width: 150px;
	height: 50px;
	display: inline-block;
	border: 1px solid #ddd;
	vertical-align: top;
	font-size: 13pt;
	text-align: center;
	line-height: 50px;
	/*background:*/ 
	cursor: pointer;
	margin-top: 20px;
	font-family: 'Pretendard-Regular';
	border-radius: 3px;
 }
 .tab_on {
	background-color:#f0c41994; 
	color: #000;
 }
 
/* 내 정보 */
.mem_box {
    width: 100%;
    height: auto;
    border: 1px solid #dddddd;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 80px 40px;
    margin-top: 10px;
    margin-bottom: 35px;   
    flex-wrap: wrap;
	align-items: center;
	border-radius: 3px;
}
.mem_profile {
	  margin-right: 30px; 
}
.mem_profile img {
	width: 150px;
	height: 150px;
	border-radius: 3px;
}
.mem_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 11pt;
	    width: 40%;
	
}
.mem_info div {
    display: flex;
    align-items: baseline;
}
.mem_info dt{
	font-weight: 600;
	display: inline-block;
	width: 20%;
	margin: 8px 0;

}
.mem_info dd{
	font-weight: 300;
	display: inline-block;
	margin-left: 13px;
	width: 70%;
}

/* 개인 정보 수정 */
.contents_wrap{
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.img_area {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
        align-items: center;
	font-size: 12px;
	    width: 245px;
}
img#preview {
    width: 150px;
    height: 150px;
    border-radius: 3px;
}
.filbox{
   text-align: left;
    margin-top: 10px;
}
.imgOld{
	margin-top: 10px;
	width: 150px;
}
.img{
   display:none;
}
#fileDelBtn{
   border: 1px solid #666;
   display: inline-block;
    padding: 2px 6.5px;
    border-radius: 2px;
    font-size: 10pt;
    background: #f2f3ef;
    color: #111;
    font-family: sans-serif;
    cursor: Default;
}
#fileDelBtn:hover{
   background: #e9e9e8;
}
.img_area input[type="file"] {
    width: 150px;
    margin-top: 10px;
}
.join_area{    
	width: 350px;
    margin: 0 auto;
}
.join_tit{
	width:100%;
	height:auto;
	position: relative; 
	display:inline-block;
	margin-bottom:10px;
}
.join_tit h5{
	font-size:14px;
	color:#666;
	line-height:24px;
	letter-spacing:0px;
	display:inline-block;
	font-weight:300;
	margin-bottom:6px;
}
.join_info {
	width:100%;
	height:auto;
	position:relative;
}
.input{
	font-size: 12px;
	margin-bottom: 7px;
}
.join_info input[type="password"], .join_info input[type="radio"], .join_info input[type="text"], .join_info input[type="date"]{
	width:100%;
	height:35px;
	border:1px solid #ddd;
	display: inline-block;
	margin-bottom:10px;
	color: #666;
	font-size: 13px;
	font-weight:600;
	padding:10px;
	line-height : normal;  
	clear: both; 
	outline-style: none;  
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	border-radius: 3px;
} 
/* m_id가 어딨지?.. */
.pw01, .pw02{
	display: inline-block;
	width:49%;	
}
.pw02{
	float:right;
}
.name01,basic{
	display: block;
	position: relative;
}
.warn_area{
	font-size: 13px;
	font-weight: 400;
	position: relative;
	top: -10px;
	left:0px;
	border:0px solid red;
}
#findEMsel {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 10px;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    line-height: normal;
    border-radius: 0;
    clear: both;
    outline-style: none;
    margin-left: 7px;
    border-radius: 3px;
}
.dtBrt01{
	display: block;
	width:49%;
	float:left;
}
.gen01 label{
	font-size: 11pt;
	 bottom: 3px;
    position: relative;
}
.gen01{
	display: flex;
	width:49%;
	padding-left: 12px;
}
.gen01 input[type='radio'] {
	width:14px; 
	margin-left:8px; 
	margin-right:8px; 
	-webkit-appearance: radio;
}
.g_box{
	display: flex;
	margin-top:-4px;
	width:49%;
	align-items: center;
}
.add_area{
	display: inline-block;
	width:100%;
}
.m_zcd{
	position:relative;
	display: inline-block;
	width:49%;
}
.adr_btn{
	position:absolute;
	display: inline-block;
	width:20%;
	height:35px;
	background-color:#78808c;
	text-align:center;
	font-size:13px;
	color:#fff;
	line-height: 38px;
	margin-left:-20%;
	cursor: pointer;
	z-index:10;
	border-radius: 3px;
	border: 0px;
}
.address_btn:hover{background-color:#313439;
}
.adr_01{
	position:relative;
	display: inline-block;
	width:49%;
	float:right;
}
.adr_02{
	display:block;
	width:100%;
}
.popup_btn {
	display:flex;
	justify-content: center;
}
.popup_btn input {
	width: 70px;
    height: 35px;
	margin: 20px 4%;
}

/* 비밀번호 확인 */
#intropwd{
	display: inline-block;
	vertical-align: top;
	font-size: 11pt;
	text-align: left;
	margin: 11.5% 0;
}
#intropwd span{
	font-size: 15px;
	}
#id{
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}
#checkment{
	display: inline-block;
	vertical-align: top;
}
.pwd{
	height: 35px;
	border: 1px solid #ddd;
}

/* 게시글 관리 & 댓글 관리 */
.intro {
	display: inline-block;
	vertical-align: top;
	font-size: 11pt;
	width: 100%;
	text-align:center;
}
.table {
	border-collapse : collapse;	
	border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
	text-align : center;
	width: 100%;
	font-size: 14px;
	margin-bottom: 2%;
}
.table thead {
    height: 55px;
    background-color: #bbd1bc;
}
.table tr {
	height : 45px;
	border-bottom : 1px solid #ddd;
}
.table tbody td:nth-child(2) {
	text-align : center;
}
.table thead tr {
	font-weight : bold;
}

.table tbody tr td:nth-child(3):hover {
	text-decoration :underline;
	cursor : pointer;
}

/* DeleteBtn */
#delBtn {
	text-decoration: none;
    color: #000;
    height: 35px;
    width: 60px;
    display: inline-block;
    position: relative;
    border: 1px solid #eff3f6;
    border-radius: 4px;
    margin-left: 88%;
}

/* Paging */
.pagination {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.pagination span {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    border: 0px solid #ddd;
    margin: 0 4px;
    cursor: pointer;
}
.pagination span:active {
	background-color:#bbd1bc;
    color: #000;
    border: 1px solid #bbd1bc;
}
.pagination span:hover {
	background-color:#bbd1bc;;
    color: #000;
    border-radius:50%;
}

/* Searching */
.searchform{
	display: flex;
    width: 100%;
    justify-content: center;
}
.midbox{
	margin-top: 30px;
    height: 50px;
	margin:0 auto;
	text-align:center; 
	display: flex;
	justify-content: center;
}
.searchBox{
	display: inline-block;
    vertical-align: top;;
	width:41%;
	height:32px;
	float:right;
 	background: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #333;
    font-weight: normal;
    border-radius: 3px;
}
.serchTxt{
	display: inline-block;
	vertical-align: top; 
	font-size:11px;	
	width: 90%;
    height: 29px;
    border: none;
    text-align: left;
}
.serchTxt:focus{
	outline: none;
}
.search_ico {
    border: none;
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
    position: relative;
}
.box2 {
	display: inline-block;
	vertical-align: top; 
	font-size:12px;
	text-align:center;	
	margin-bottom:33.1px;
	width: 80px;
    height: 26px;
    line-height:24px;
    border-radius: 3px;
}
.box2{
	width:8%;
    display: inline-block;
    vertical-align: top;;
    height: 32px;
    line-height: 25px;
    padding: 0 10px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #333;
    font-weight: normal;
}
.sel {
    border: none;
    width: 110px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.sel_right {
	float: right; 
	margin-bottom: 20px;
}
.sel:focus{
	outline: none;
}
img#searIcon {
    width: 19px;
}

/* 동행 */
.mypage_title {
	text-align: center;
	padding: 30px 0;
    border-bottom: 4px solid #d0d0d0;
}
.join_mem_list {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: auto;
	overflow-x: hidden; 
	display: inline-block;
	border: 1px solid #7d7d7d7d;
}
.chat_list {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: auto;
	overflow-x: hidden; 
	padding: 10px;
	border: 1px solid #7d7d7d7d;
}
.chat_list li {
	display: inline-block;
	width: 75%;
	position: relative;
	padding : 10px 14px;
	font-weight: 500;
	font-size: 11pt;
	border-bottom: 1px solid #d0d0d0;
}
.chat_list li::before {
    position: absolute;
    display: block;
    top: 22px;
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #82c8a0;;
    content: '';
}
.mypage_area1{
	height:auto;
	position:relative;
	display:inline-block;
	outline-style: none;
	clear: both; 
	-webkit-appearance: none;  
	-moz-appearance: none;
	appearance: none;
	margin:0 auto;
	margin-bottom: 20px;
}
.mypage_area1:nth-child(1){
	width: 65%;
}
.mypage_area1:nth-child(2){
	width: 31%;
	margin-left: 35px;
}
.mypage_area{
	width:100%;
	height:auto;
	position:relative;
	display:inline-block;
	outline-style: none;
	clear: both; 
	-webkit-appearance: none;  
	-moz-appearance: none;
	appearance: none;
	margin:0 auto;
	margin-bottom: 20px;
}
.area_tit {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
.area_tit > span {
	font-size: 18px;
    font-weight: 500;
	margin: 20px 0 20px 14px;
    color: #333;
    display: block;
}
.area_tit:before {
    position: absolute;
    display: block;
    top: 26px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
	background-color:#bbd1bc;
    content: '';
}
table.standard, table.standard td{
    border:1px solid #ddd;
	text-align:center;
	padding:14px;
	vertical-align:middle;
}
table.standard{
    width:100%;
    height:auto;
    background-color:#fff;
}	
table.standard th{
	line-height:30px;
	font-size:15px;
	font-weight:500;
	text-align:center;
	vertical-align:middle;
	background-color:#eff3f6;
	color:#000;
    padding:6px; 
}
<<<<<<< HEAD
=======

.accompanyHistory td:nth-child(4){
	overflow: hidden;
	text-overflow: ellipsis;
}
table.standard.a th:nth-child(1){width: 10%;}
table.standard.a th:nth-child(2){width: 10%;}
table.standard.a th:nth-child(3){width: 45%;}
table.standard.a th:nth-child(4){width: 10%;}
table.standard.a th:nth-child(5){width: 10%;}
table.standard.a th:nth-child(6){width: 15%;}

table.standard.b th:nth-child(1){width: 10%;}
table.standard.b th:nth-child(2){width: 10%;}
table.standard.b th:nth-child(3){width: 45%;}
table.standard.b th:nth-child(4){width: 20%;}
table.standard.b th:nth-child(5){width: 15%;}

table.standard.c th:nth-child(1){width: 15%;}
table.standard.c th:nth-child(2){width: 85%;}

table.standard.c td:nth-child(1){width: 15%;}
table.standard.c td:nth-child(2){width: 15%;}
table.standard.c td:nth-child(3){width: 10%;}
table.standard.c td:nth-child(4){width: 15%;}
table.standard.c td:nth-child(5){width: 15%;}
table.standard.c td:nth-child(6){width: 30%;}

table.standard, .mem_rate {
	table-layout: fixed;
}


>>>>>>> branch 'main' of https://github.com/heejeonq/Dulegil.git
table.standard td{
	text-align:center;
	font-size:13px;
	font-weight:600;
	line-height:24px;
	color:#555;
}
table.standard td a:hover{
	text-decoration:underline #aaa;
}
table.standard td:nth-child(3){font-weight:500; color:#333; text-align:center; }
.mem_img > img {
	width: 70px;
	height: 70px;
}
.mem_id{
	font-size: 13px;
}
.join_title {
	line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #eff3f6;
    color: #000;
    padding: 6px;
    border: 1px solid #ddd;  
}
table.mem_rate {
	width:100%;
    margin-bottom: 10px;
}

.mem_rate tr {
	width: 100%;
	font-size: 15pt;
}
.mem_rate td {
	padding: 10px;
}
.mem_rate td:nth-child(1){
	
}
.mem_rate td:nth-child(2){
	
}
.mem_rate td:nth-child(3){
	
}
.mem_rate td:nth-child(6){
	float:right;
}
.mem_rate_list {
	border-bottom: 1px solid #777;
}

/* 별점 */
.star {
    position: relative;
    font-size: 2em;
    color: #ddd;
 }
 .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
 }
 .star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: #f0c41994;
    overflow: hidden;
    pointer-events: none;
 }
 
/* 신고하기 */
 .singo {
  	cursor: pointer;
 }
 .singo_contents {
  	position:absolute;
  	flex-direction: column;
  	display : none;
  	font-size: 13px;
  	right: 10px;
  	box-shadow: 1px 1px 3px #777;
    padding: 7px;
   background-color: #ffff;
 }
 .singo_contents > label {
	padding: 3px 0;
 }


  